@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

@tailwind base;

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: "Faculty Glyphic", sans-serif;
}
